{% extends "layout.html" %}
{% block page_title %}The Naylor Dart Application{% endblock %}
{% block body %}
    {{ super() }}
        <p>All these games are being played now:</p>
        <ul>
        {% for game_room, game_type in live_games %}
            <li> <a href="/game/{{game_room}}/{{game_type}}"> Game room {{game_room}} of {{game_type}} </a></li>
        {% else %}
            <p>No current games.</p>
        {% endfor %}
        </ul>

        {% if is_user %}
            <p>Without border</p>
            <ul>
            {% for game_room, game_type in live_games %}
                <li> <a href="/game_room/{{game_type}}/{{game_room}}"> Game room {{game_room}} of {{game_type}} </a>  </li>
                {% else %}
                <p>No current games.</p>
            {% endfor %}
            </ul>
        {% endif %}
    
{% endblock %}
